.App {
  text-align: center;
  font-family: 'Palanquin', sans-serif;
}

.App-header {
  padding: 20px;
  margin-bottom: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hide {
  display: none;
}

h2, h3{
  margin: 0 0 5px 0;
}

div.box {
  padding: 10px;
  background-color: #e5e5e5;
  width: 400px;
  margin: 10px auto;
}

div.logout {
  text-align: right;
  background-color: #fff;
}

div.auto-update {
  text-align: left;
}

div.auto-update h3 {
  text-align: center;
}

div.auto-update p {
  margin: 3px 10px;
}

form > div {
  margin: 10px;
}

form > div > label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

form .ports-holder {
  width: 175px;
  display: inline-block;
  text-align: left;
  margin-left: 5px;
}

form .port {
  width: 50px;
}

form .portTo {
  display: inline-block;
  margin: 0 10px;
}

form .mins-to-live {
  width: 50px;
  margin-right: 120px;
}

.rule-list table {
  border-collapse: collapse;
  width: 100%;
}
.rule-list table, .rule-list th, .rule-list td {
  border: 1px solid #fff;
}
.rule-list .btn-delete {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.loading {
  font-weight: bold;
}

.footer {
  font-size: 13px;
  margin: 20px 0 0 0;
  line-height: 16px;
}

.error {
  color: red;
}

.success {
  color: green;
}